.booking-area {
    padding-left: 150px;
    padding-right: 200px;
    margin-bottom: 45px;
    margin-top: 40px;
    background-image: url(https://i.pinimg.com/originals/c7/a1/e6/c7a1e61260efd24870eb43d557bdedbe.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: initial;
    color:#ffffff;
    font-size: 20px;
    
}
