.section-heading {
    text-align: center;
    padding-bottom: 30px;
}
.section-heading h4 {
    display: block;
    font-size: 2em;
    color: #37373f !important;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.section-heading h2 {
    color: red ;
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    font-family: 'Amatic SC', cursive !important;
}