.hero-area {
    width: 100%;
    background-size: cover;
    min-height: 40vh;
    padding: 85px 0;
    background-color: #eee;
    scroll-margin-top: 90px;
    overflow: hidden;
}
.hero-area h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #37373f;
    font-family: 'Amatic SC', cursive;
}
.hero-area img {
    max-width: 100%;
    height: 100%;
}
.hero-area p {
    color: #4f4f5a;
    font-weight: 500;
    margin-bottom: 30px;
}
.hero-area button {
    background-color: rgba(206, 18, 18, 0.8);
    color:#ffffff;
}


@media (max-width: 991px) {
.text-lg-start {
    text-align: left!important;
}

.text-center {
    text-align: center!important;
}
}